﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="ProductsTest.aspx.cs" Inherits="QuickStoreBilling.Admin.ProductsTest" %>

<%@ Register Assembly="Microsoft.AspNet.EntityDataSource" Namespace="Microsoft.AspNet.EntityDataSource" TagPrefix="ef" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .inner-datepicker {
            display: inline-block;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            var tabName = $("[id*=TabName]").val() != "" ? $("[id*=TabName]").val() : "tab0";
            $('#Tabs a[href="#' + tabName + '"]').tab('show');
            $("#Tabs a").click(function () {
                $("[id*=TabName]").val($(this).attr("href").replace("#", ""));
            });
        });
    </script>

    <asp:HiddenField ID="TabName" runat="server" />

    <div class="page-header" style="width: 100%;">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>Products </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Index.aspx">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
    <div class="card" id="Tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab0" role="tab"><span class="hidden-sm-up"></span><span class="hidden-xs-down">Products</span></a> </li>
            <%--<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#tab1" role="tab"><span class="hidden-sm-up"></span><span class="hidden-xs-down">View</span></a> </li>--%>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabcontent-border">
            <div class="tab-pane p-20 active" id="tab0" role="tabpanel">
                <div style="margin: 10px; overflow-x: auto">
                    <asp:ScriptManager runat="server" EnablePageMethods="true"></asp:ScriptManager>
                    <asp:UpdatePanel ID="gvProdUpdate" runat="server" UpdateMode="Always">
                        <ContentTemplate>
                            <asp:Panel ID="pnl_warning" runat="server" Visible="false">
                                <div class="alert alert-warning" role="alert" style="width: 100%">
                                    <asp:Label ID="labWarning" runat="server" Text=""></asp:Label>
                                </div>
                            </asp:Panel>
                            <asp:Panel ID="pnl_err" runat="server" Visible="false">
                                <div class="alert alert-danger" role="alert" style="width: 100%">
                                    <asp:Label ID="LabErr" runat="server" Text=""></asp:Label>
                                </div>
                            </asp:Panel>
                            <asp:Label runat="server" ID="labCat" Text="" Visible="false" />
                            <asp:GridView ID="gvProducts" runat="server" DataKeyNames="id" OnRowDataBound="gvProducts_RowDataBound"
                                OnRowEditing="gvProducts_RowEditing" OnRowCancelingEdit="gvProducts_RowCancelingEdit"
                                OnRowUpdating="gvProducts_RowUpdating" OnRowDeleting="gvProducts_RowDeleting" OnRowCreated="gvProducts_RowCreated"
                                EmptyDataText="No records has been added." AutoGenerateEditButton="true" AutoGenerateDeleteButton="true"
                                AutoGenerateColumns="False" Width="100%" ShowFooter="true">
                                <Columns>
                                    <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                                    <asp:TemplateField HeaderText="Category">
                                        <EditItemTemplate>
                                            <asp:DropDownList ID="DropDownList3" runat="server" DataSourceID="SqlDataSourceCat" DataTextField="name" DataValueField="name" SelectedValue='<%# Bind("CategoryName") %>' AutoPostBack="True">
                                            </asp:DropDownList>
                                            <asp:SqlDataSource ID="SqlDataSourceCat" runat="server" ConnectionString="<%$ ConnectionStrings:QuickStoreDBConnectionString %>" SelectCommand="SELECT * FROM [ProductCategory]"></asp:SqlDataSource>
                                        </EditItemTemplate>
                                        <FooterTemplate>
                                            <asp:ImageButton ID="btnAddProduct" runat="server" ImageUrl="assets/images/add.png" Height="25px" OnClick="btnAddProduct_Click" />
                                        </FooterTemplate>
                                        <ItemTemplate>
                                            <asp:Label ID="Label1" runat="server" Text='<%# Bind("CategoryName") %>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Type">
                                        <EditItemTemplate>
                                            <asp:DropDownList ID="DropDownList4" runat="server" DataSourceID="SqlDataSourceType" DataTextField="name" DataValueField="name" SelectedValue='<%# Bind("TypeName") %>'>
                                            </asp:DropDownList>
                                            <asp:SqlDataSource ID="SqlDataSourceType" runat="server" ConnectionString="<%$ ConnectionStrings:QuickStoreDBConnectionString %>" SelectCommand="SELECT [ProductTypeId], [name] FROM [ProductType]"></asp:SqlDataSource>
                                        </EditItemTemplate>
                                        <ItemTemplate>
                                            <asp:Label ID="Label2" runat="server" Text='<%# Bind("TypeName") %>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:BoundField DataField="ProductName" HeaderText="Product Name" />
                                    <asp:BoundField DataField="Description" HeaderText="Description" />
                                    <asp:BoundField DataField="Price" HeaderText="Price" />
                                    <asp:BoundField DataField="Qty" HeaderText="Qty" />
                                    <asp:TemplateField>
                                        <ItemTemplate>
                                            <asp:ImageButton ID="btnDelete" runat="server" OnClick="btnDelete_Click" ImageUrl="assets/images/minus.png" Height="25px"></asp:ImageButton>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                            </asp:GridView>
                        </ContentTemplate>
                        <Triggers>
                            <asp:PostBackTrigger ControlID="gvProducts" />
                        </Triggers>
                    </asp:UpdatePanel>
                </div>
            </div>

        </div>
    </div>
</asp:Content>
