﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="Products.aspx.cs" Inherits="QuickStoreBilling.Admin.WebForm2" %>

<%@ Register Assembly="Microsoft.AspNet.EntityDataSource" Namespace="Microsoft.AspNet.EntityDataSource" TagPrefix="ef" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <style type="text/css">
        .highlight {
            text-decoration: none;
            font-weight: bold;
            color: black;
            background: yellow;
        }
    </style>
    <asp:HiddenField ID="TabName" runat="server" />
    <div class="page-header" style="width: 100%;">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>Products </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Index.aspx">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>
    <div class="card" id="Tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab0" role="tab"><span class="hidden-sm-up"></span><span class="hidden-xs-down">Products</span></a> </li>
            <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#tab1" role="tab"><span class="hidden-sm-up"></span><span class="hidden-xs-down">New</span></a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabcontent-border">
            <div class="tab-pane p-20 active" id="tab0" role="tabpanel">
                <div style="margin: 10px; overflow-x: auto">
                    <%--<asp:ScriptManager runat="server" EnablePageMethods="true"></asp:ScriptManager>
                    <asp:UpdatePanel ID="gvProdUpdate" runat="server" UpdateMode="Always">
                        <ContentTemplate>--%>
                    <div class="form-group row mrg">
                        <label for="exampleInputUsername2" style="text-align: right" class="col-sm-2 fev pad">Product Category / Company</label>
                        <div class="col-sm-3 fev">
                            <asp:DropDownList ID="ddlProductCategoryView" class="select2 form-control custom-select" runat="server" OnSelectedIndexChanged="ddlProductCategoryView_SelectedIndexChanged" AutoPostBack="true">
                            </asp:DropDownList>
                        </div>
                        <label for="exampleInputUsername2" style="text-align: right" class="col-sm-3 fev pad">Product Type</label>
                        <div class="col-sm-3 fev">
                            <asp:DropDownList ID="ddlProductTypeView" class="select2 form-control custom-select" runat="server" OnSelectedIndexChanged="ddlProductTypeView_SelectedIndexChanged" AutoPostBack="true">
                            </asp:DropDownList>
                        </div>
                    </div>
                    <asp:ScriptManager ID="ScriptManager1" runat="server" />
                    Search Products:<asp:TextBox ID="txtSearch" runat="server" AutoPostBack="True" OnTextChanged="txtSearch_TextChanged" />

                    <%--<asp:UpdatePanel ID="UpdatePanel1" runat="server">

                        <ContentTemplate>--%>
                    <asp:Label runat="server" ID="labCat" Text="" Visible="false" />
                    <div class="table-responsive">
                        <asp:GridView ID="gvProducts" runat="server" DataKeyNames="id" OnRowDataBound="gvProducts_RowDataBound"
                            OnRowEditing="gvProducts_RowEditing" OnRowCancelingEdit="gvProducts_RowCancelingEdit"
                            OnRowUpdating="gvProducts_RowUpdating" OnRowDeleting="gvProducts_RowDeleting"
                            EmptyDataText="No records has been added." AutoGenerateEditButton="True" AutoGenerateDeleteButton="True"
                            AutoGenerateColumns="False" Width="100%" ShowFooter="True" BackColor="White" BorderColor="#999999"
                            BorderStyle="Solid" BorderWidth="1px" CellPadding="3" GridLines="Vertical" OnRowCreated="gvProducts_RowCreated"
                            OnPageIndexChanging="gvProducts_PageIndexChanging" PageSize="25" AllowPaging="True" EnableTheming="True" CssClass="GridViewEditRow" ForeColor="Black" Font-Size="Small">
                            <AlternatingRowStyle BackColor="#CCCCCC" />
                            <Columns>
                                <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                                <asp:TemplateField HeaderText="Category / Company">
                                    <EditItemTemplate>
                                        <asp:DropDownList ID="DropDownList3" runat="server" AutoPostBack="True" OnSelectedIndexChanged="DropDownList3_SelectedIndexChanged1">
                                        </asp:DropDownList>
                                        <%--<asp:SqlDataSource ID="SqlDataSourceCat" runat="server" ConnectionString="<%$ ConnectionStrings:QuickStoreDBConnectionString %>" SelectCommand="SELECT * FROM [ProductCategory]"></asp:SqlDataSource>--%>
                                    </EditItemTemplate>
                                    <ItemTemplate>
                                        <asp:Label ID="Label1" runat="server" Text='<%# Bind("CategoryName") %>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:BoundField DataField="ProductName" HeaderText="Product Name" />
                                <asp:BoundField DataField="Unit" HeaderText="Unit" Visible="false" />
                                <asp:BoundField DataField="Qty" HeaderText="C/S Box<br /> Qty" HtmlEncode="false" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:BoundField DataField="csUnitQty" HeaderText="InC/S<br />Box qty" HtmlEncode="false" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:BoundField DataField="UnitQty" HeaderText="Lose<br /> Qty" HtmlEncode="false" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:BoundField DataField="Price" HeaderText="Unit Price" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:TemplateField HeaderText="SingleUnit<br />Price" HeaderStyle-CssClass="GridHeader">
                                    <ItemTemplate>
                                        <asp:Label ID="labSingleUnitPrice" runat="server" Text='<%# Bind("SingleUnitPrice","{0:n}") %>'></asp:Label>
                                    </ItemTemplate>

                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:TemplateField>
                                <asp:BoundField DataField="Margin" HeaderText="Margin<br />(%)" HtmlEncode="false" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:BoundField DataField="gst" HeaderText="GST<br />(%)" HtmlEncode="false" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>

                                <asp:TemplateField HeaderText="SinglePrice <br /> (Inc. All)" HeaderStyle-CssClass="GridHeader">
                                    <ItemTemplate>
                                        <asp:Label ID="labUnitPrice" runat="server" Text='<%# Bind("PriceAll","{0:n}") %>'></asp:Label>
                                    </ItemTemplate>

                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>

                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:TemplateField>
                               
                                <asp:BoundField DataField="mrp" HeaderText="M.R.P" HtmlEncode="false" HeaderStyle-CssClass="GridHeader">
                                    <HeaderStyle CssClass="GridHeader"></HeaderStyle>
                                    <ItemStyle HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:TemplateField HeaderText="Type">
                                    <EditItemTemplate>
                                        <asp:DropDownList ID="DropDownList4" runat="server">
                                        </asp:DropDownList>
                                        <%--<asp:SqlDataSource ID="SqlDataSourceType" runat="server" ConnectionString="<%$ ConnectionStrings:QuickStoreDBConnectionString %>" SelectCommand="SELECT [ProductTypeId], [name] FROM [ProductType]"></asp:SqlDataSource>--%>
                                    </EditItemTemplate>
                                    <ItemTemplate>
                                        <asp:Label ID="Label2" runat="server" Text='<%# Bind("TypeName") %>'></asp:Label>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:BoundField DataField="Description" HeaderText="Description" />
                                <asp:TemplateField HeaderText="Is Deactive">
                                    <ItemTemplate>
                                        <asp:CheckBox ID="chkDeactive" runat="server" Enabled="false" Checked='<%# Convert.ToBoolean(Eval("ProductDeactive")) %>' />
                                    </ItemTemplate>
                                    <EditItemTemplate>
                                        <asp:CheckBox ID="chkDeactive" runat="server" Checked='<%# Convert.ToBoolean(Eval("ProductDeactive")) %>' />
                                    </EditItemTemplate>
                                </asp:TemplateField>
                            </Columns>
                            <FooterStyle BackColor="#1C5E55" ForeColor="White" Font-Bold="True" />
                            <HeaderStyle BackColor="#1C5E55" Font-Bold="True" ForeColor="White" />
                            <PagerSettings PreviousPageText="Previous" NextPageText="Next" FirstPageText="First" LastPageText="Last" PageButtonCount="10" />
                            <PagerStyle CssClass="Pager" HorizontalAlign="Center" />
                            <SelectedRowStyle BackColor="#C5BBAF" Font-Bold="True" ForeColor="#333333" />
                            <SortedAscendingCellStyle BackColor="#F8FAFA" />
                            <SortedAscendingHeaderStyle BackColor="#246B61" />
                            <SortedDescendingCellStyle BackColor="#D4DFE1" />
                            <SortedDescendingHeaderStyle BackColor="#15524A" />
                        </asp:GridView>
                        <%--</ContentTemplate>
                        <Triggers>
                            <asp:PostBackTrigger ControlID="gvProducts" />
                        </Triggers>
                    </asp:UpdatePanel>--%>
                        <%--</ContentTemplate>

                        <Triggers>

                            <asp:AsyncPostBackTrigger ControlID="txtSearch" EventName="TextChanged" />

                        </Triggers>

                    </asp:UpdatePanel>--%>
                    </div>
                </div>
            </div>
            <div class="tab-pane p-20" id="tab1" role="tabpanel">
                <div style="margin: 10px; overflow-x: auto">

                    <label class="col-md-3 m-t-15">Product Entry</label>
                    <div class="table-responsive">
                        <%--<asp:UpdatePanel ID="updTimeSheet" UpdateMode="Always" runat="server">
                    <ContentTemplate>--%>
                        <asp:Panel ID="pnl_warning" runat="server" Visible="false">
                            <div class="alert alert-warning" role="alert" style="width: 100%">
                                <asp:Label ID="labWarning" runat="server" Text=""></asp:Label>
                            </div>
                        </asp:Panel>
                        <asp:Panel ID="pnl_err" runat="server" Visible="false">
                            <div class="alert alert-danger" role="alert" style="width: 100%">
                                <asp:Label ID="LabErr" runat="server" Text=""></asp:Label>
                            </div>
                        </asp:Panel>
                        <div class="table-responsive">
                            <asp:GridView ID="gvProductsNew" runat="server" ShowFooter="true" CssClass="table-striped table-bordered table"
                                AutoGenerateColumns="false" ShowHeaderWhenEmpty="true" ShowHeader="true" OnRowCreated="gvProductsNew_RowCreated">
                                <Columns>
                                    <asp:BoundField DataField="RowNumber" HeaderText="SL" />
                                    <asp:TemplateField HeaderText="Category / Company">
                                        <ItemTemplate>
                                            <asp:DropDownList ID="ddlCategory" runat="server" OnSelectedIndexChanged="ddlCategory_SelectedIndexChanged" AutoPostBack="true"
                                                AppendDataBoundItems="true">
                                                <asp:ListItem Value="-1">Select</asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:RequiredFieldValidator ID="recDdlCategory" InitialValue="-1" Display="Dynamic" ValidationGroup="g1" Text="*" ErrorMessage="Required"
                                                ControlToValidate="ddlCategory" runat="server"></asp:RequiredFieldValidator>
                                        </ItemTemplate>
                                        <FooterStyle />
                                        <FooterTemplate>
                                            <asp:LinkButton ID="lbAddNewRow" runat="server" Style="padding: 0;" OnClick="lbAddNewRow_Click" CssClass="m-icon"><i style="font-size: 30px;color: #2eb2da;margin-right: 0;" class="m-r-10 mdi mdi-plus-circle"></i></asp:LinkButton>
                                        </FooterTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Type">
                                        <ItemTemplate>
                                            <asp:DropDownList ID="ddlType" runat="server"
                                                AppendDataBoundItems="true" required="true">
                                                <asp:ListItem Value="-1">Select</asp:ListItem>
                                            </asp:DropDownList>
                                            <asp:RequiredFieldValidator ID="recDdlActi" InitialValue="-1" Display="Dynamic" ValidationGroup="g1" Text="*" ErrorMessage="Required"
                                                ControlToValidate="ddlType" runat="server"></asp:RequiredFieldValidator>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Name">
                                        <ItemTemplate>
                                            <asp:TextBox ID="txtName" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Description">
                                        <ItemTemplate>
                                            <asp:TextBox ID="txtDescription" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Price">
                                        <ItemTemplate>
                                            <asp:TextBox ID="txtPrice" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Qty">
                                        <ItemTemplate>
                                            <asp:TextBox ID="txtQty" runat="server"></asp:TextBox>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField>
                                        <ItemTemplate>
                                            <asp:LinkButton ID="lbDel" runat="server" Style="padding: 0;" OnClick="lbDel_Click" CssClass="m-icon"><i style="font-size: 30px;color: #2eb2da;margin-right: 0;" class="m-r-10 mdi mdi-minus-circle"></i></asp:LinkButton>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                            </asp:GridView>
                            <%--</ContentTemplate>
                    <Triggers>
                        <asp:AsyncPostBackTrigger ControlID="gvProducts" EventName="RowCreated" />
                        <asp:AsyncPostBackTrigger ControlID="ddlCategory" EventName="OnSelectedIndexChanged" />
                    </Triggers>
                </asp:UpdatePanel>--%>
                        </div>
                    </div>

                    <br />
                    <div class="border-top">
                        <div class="card-body" style="text-align: right;">
                            <asp:Button class="btn btn-primary" ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
