﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="ProductCategoryType.aspx.cs" Inherits="QuickStoreBilling.Admin.ProductCategoryType" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:HiddenField ID="TabName" runat="server" />
    <div class="page-header" style="width: 100%;">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>Products Category & Type</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Index.aspx">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product Category / Type </li>
            </ol>
        </nav>
    </div>
    <asp:Panel ID="pnl_warning" runat="server" Visible="false">
        <div class="alert alert-warning" role="alert" style="width: 100%">
            <asp:Label ID="labWarning" runat="server" Text=""></asp:Label>
        </div>
    </asp:Panel>
    <asp:Panel ID="pnl_err" runat="server" Visible="false">
        <div class="alert alert-danger" role="alert" style="width: 100%">
            <asp:Label ID="LabErr" runat="server" Text=""></asp:Label>
        </div>
    </asp:Panel>
    <div class="card" id="Tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab0" role="tab"><span class="hidden-sm-up"></span><span class="hidden-xs-down">Category</span></a> </li>
            <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#tab1" role="tab"><span class="hidden-sm-up"></span><span class="hidden-xs-down">Type</span></a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabcontent-border">
            <div class="tab-pane p-20 active" id="tab0" role="tabpanel">
                <label class="col-md-3 m-t-15">Product Category</label>
                <div class="form-group row" style="margin:10px">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Category / Company Name</label>
                    <div class="col-sm-9">
                        <asp:TextBox ID="txtProductCategoryName" runat="server" class="form-control" placeholder="Product Category / Company Name"></asp:TextBox>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body" style="text-align: right;">
                        <asp:Button class="btn btn-primary" ID="btnProdCateSubmit" runat="server" Text="Submit" OnClick="btnProdCateSubmit_Click" />
                    </div>
                </div>
                <br />
                <%--<asp:ScriptManager runat="server" EnablePageMethods="true"></asp:ScriptManager>
                <asp:UpdatePanel ID="gvProdUpdate" runat="server" UpdateMode="Always">
                    <ContentTemplate>--%>
                <asp:Label runat="server" ID="labCat" Text="" Visible="false" />
                <asp:GridView ID="gvProductCategory" runat="server" DataKeyNames="id" OnRowDataBound="gvProductCategory_RowDataBound"
                    OnRowEditing="gvProductCategory_RowEditing" OnRowCancelingEdit="gvProductCategory_RowCancelingEdit"
                    OnRowUpdating="gvProductCategory_RowUpdating" OnRowDeleting="gvProductCategory_RowDeleting"
                    EmptyDataText="No records has been added." AutoGenerateEditButton="true" AutoGenerateDeleteButton="true"
                    AutoGenerateColumns="False" Width="100%" ShowFooter="true">
                    <Columns>
                        <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                        <asp:BoundField DataField="ProductCategoryName" HeaderText="Product Category / Company Name" />
                    </Columns>
                </asp:GridView>
                <%-- </ContentTemplate>
                    <Triggers>
                        <asp:PostBackTrigger ControlID="gvProductCategory" />
                    </Triggers>
                </asp:UpdatePanel>--%>
            </div>
            <div class="tab-pane p-20" id="tab1" role="tabpanel">
                <label class="col-md-3 m-t-15">Product Type</label>
                <div class="form-group row" style="margin:10px">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Category</label>
                    <div class="col-sm-9">
                        <asp:DropDownList ID="ddlProdCategory" class="select2 form-control custom-select" runat="server">
                        </asp:DropDownList>
                    </div>
                </div>
                <div class="form-group row" style="margin:10px">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Product Type</label>
                    <div class="col-sm-9">
                        <asp:TextBox ID="txtProdType" runat="server" class="form-control" placeholder="Product Type"></asp:TextBox>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body" style="text-align: right;">
                        <asp:Button class="btn btn-primary" ID="btnProdTypeSubmit" runat="server" Text="Submit" OnClick="btnProdTypeSubmit_Click" />
                    </div>
                </div>
                <br />
                <asp:GridView ID="gvProductType" runat="server" DataKeyNames="id" OnRowDataBound="gvProductType_RowDataBound"
                    OnRowEditing="gvProductType_RowEditing" OnRowCancelingEdit="gvProductType_RowCancelingEdit"
                    OnRowUpdating="gvProductType_RowUpdating" OnRowDeleting="gvProductType_RowDeleting"
                    EmptyDataText="No records has been added." AutoGenerateEditButton="true" AutoGenerateDeleteButton="true"
                    AutoGenerateColumns="False" Width="100%" ShowFooter="true">
                    <Columns>
                        <asp:BoundField DataField="id" HeaderText="id" Visible="false" />
                        <asp:TemplateField HeaderText="Product Category / Company">
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlProdCategory" runat="server" DataSourceID="SqlDataSourceCat" DataTextField="name" DataValueField="name" SelectedValue='<%# Bind("CategoryName") %>' AutoPostBack="True">
                                </asp:DropDownList>
                                <asp:SqlDataSource ID="SqlDataSourceCat" runat="server" ConnectionString="<%$ ConnectionStrings:QuickStoreDBConnectionString %>" SelectCommand="SELECT * FROM [ProductCategory]"></asp:SqlDataSource>
                            </EditItemTemplate>
                            <ItemTemplate>
                                <asp:Label ID="Label1" runat="server" Text='<%# Bind("CategoryName") %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="ProductTypeName" HeaderText="Product Type Name" />
                    </Columns>
                </asp:GridView>

            </div>
        </div>
    </div>
</asp:Content>
